<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
  <header>
    <nav>
      <a href="/" title="home">
        <span>Home</span>
      </a>
      <a href="/profile" title="profile">
        <span>Profile</span>
      </a>
      <div sec:authorize="hasRole('ADMIN')">
        <a href="/admin/panel" title="admin panel">
          <span>Admin panel</span>
        </a>
      </div>
      <a href="/dashboard" th:if="${#authentication.principal != 'anonymousUser'}" title="Dashboard">
        <span>Dashboard</span>
      </a>
      <a href="/login" th:if="${#authentication.principal == 'anonymousUser'}" title="Login">
        <span>Login</span>
      </a>
      <a href="/register" th:if="${#authentication.principal == 'anonymousUser'}" title="Register">
        <span>Register</span>
      </a>
    </nav>
  </header>
</div>