<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<h1>Perfil de usuario: <span th:text="${username}"></span> </h1>
<img id="miImagen" th:src="@{'/profile_images/' + ${profileImagePath}}" alt="Imagen de perfil" height="200px"
  width="200" />
<form th:action="@{/logout}" method="post">
  <button type="submit">Cerrar sesión</button>
</form>
<form id="uploadForm">
  <input type="file" id="imageInput" name="image" accept="image/png, image/jpg" required />
  <button type="submit">Subir imagen</button>
</form>
<div id="uploadMessage"></div>
<script>
  document.getElementById('uploadForm').addEventListener('submit', async function (e) {
    e.preventDefault();

    const fileInput = document.getElementById('imageInput');
    const messageDiv = document.getElementById('uploadMessage');

    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    if (fileInput.files.length === 0) {
      messageDiv.innerText = 'Por favor selecciona una imagen.';
      return;
    }

    const formData = new FormData();
    formData.append('image', fileInput.files[0]);

    fetch('/api/user/uploadProfileImage', {
      method: 'PUT',
      body: formData,
      credentials: 'same-origin',
      headers: {
        [csrfHeader]: csrfToken
      }
    })
      .then(response => {
        return response.json().then(json => {
          if (json.status=="success") {
            const img = document.getElementById('miImagen');
            img.src = json.imageUrl + `?timestamp=${new Date().getTime()}`;
            messageDiv.style.color = 'green';
            messageDiv.innerText = json.message;
          } else{
            messageDiv.style.color = 'red';
            messageDiv.innerText = json.message || 'Error al subir la imagen';
          }
        });
      })
      .catch(error => {
        messageDiv.style.color = 'red';
        messageDiv.innerText = 'Error inesperado';
      });

  });
</script>

</html>